*.user
*.suo
*_ReSharper*
*_NCrunch*
*.orig
*.cache
*.ncrunchproject
*.ncrunchsolution

bin
obj
out

# Do not include actual packages as they will be extracted either on dev or on build system.
packages/

.paket/paket.exe
!.nuget/nuget.exe

.vs/*
